
.App {
  text-align: center;
}

.App-header {
  background-color: #ea9e78;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-Footer {
  background-color: #000000;
  min-height: 26vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header1 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc; /* Añadido para el borde */
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ListaBolsas {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.DetalleBolsa {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.Bolsa {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

.acomodo{
  align-items: left;
}