
.App {
  text-align: center;
}

.App-header {
  background-color: #aa8304;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-Footer {
  background-color: #aa8304;
  min-height: 26vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header1 {
  border: 5px solid black; 
  width: 500px; 
 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:#aa8304;
  margin: auto; 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*              */
